* {
    margin: 0;
    padding: 0;
}

div {
    width: 250px;
    height: 500px;
    display: inline-block;
    margin: 200px 50pt;
}

body {
    background-color: fuchsia;
}

#col-1{ 
    background-color: aqua;
    width: 20vw;
    height: 100vh;
    margin: 0;
}

#col-2{ 
    background-color: blueviolet;
}

#col-3{ 
    background-color: burlywood;
}

#col-4{ 
    background-color: darksalmon;
}

#inner-div {
    width: 50%;
    height: 25%;
    margin: 0;
    background-color: deepskyblue;
}

#p-1 {
    font-size: 1.5em;
}

#p-2 {
    font-size: 1rem;
}